* {font-family: 'Source Sans Pro', sans-serif; font-size: 16px!important; font-weight: 400;}
h4 {font-size: 20px!important; font-weight: 700;}
h3 {font-size: 24px!important; font-weight: 700;}
h2 {font-size: 28px!important; font-weight: 700;}
h1 {font-size: 32px!important; font-weight: 700;}
.irs--shiny .irs-min, .irs--shiny .irs-max,
.irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single {font-size: 10px!important;}
