@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

/* Global font (including highcharter) */

* {
  font-family: 'Roboto', sans-serif;
}

/* H1 - H6 font */

h1, h2, .h1, .h2 {
  font-family: 'Roboto Slab', sans-serif;
  color: #2e87c8;
}

h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto Slab', sans-serif;
  color: #333333;
}

/* Background */

body {
  background-color: #f2f2f2;
}

/* Sliders */

.irs--shiny .irs-bar {
  top: 25px;
  height: 8px;
  border-top: 1px solid #020b3b;
  border-bottom: 1px solid #020b3b;
  background: #020b3b;
}

.irs--shiny .irs-from,
.irs--shiny .irs-to,
.irs--shiny .irs-single {
  color: #fff;
  text-shadow: none;
  padding: 1px 3px;
  background-color: #020b3b;
  border-radius: 3px;
  font-size: 11px;
  line-height: 1.333;
}
